*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.container{
    width: 400px;
    height: 500px;
    position: relative;
    /* border: 2px solid #333; */
    box-shadow: 0px 0px 10px rgb(168, 155, 155);
}
.container:hover{
    box-shadow: 0px 0px 30px rgb(168, 155, 155);
 
}
.top, .bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.top{
    height: 210px;
    width: 100%;
    background: #F24E4E;
    color: #fff;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    position: absolute;
    z-index: 0;
    top: 209.4px;
    border-top: 70px solid #F24E4E;
  }
.bottom{
    height: 60%;
    width: 100%;
    background-color: #fff;
    color: #F24E4E;
}
 input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 44px;
    width: 160px;
    text-align: center;
    padding: 10px 0px;
}
input::placeholder{
    font-size: 18px;
    color: rgb(168, 155, 155) !important;
}
.top-input{
    color: #fff;
    border-bottom: 1px solid yellow;
    position: relative;
    top: 30px;
    z-index: 100;
}
.bottom-input{
    color: #F24E4E;
    width: 80%;
    margin-top: 90px;
}
.top-input::placeholder{
    color: #fff ;
} 
.bottom-input::placeholder{
    color: #F24E4E;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



select{
    font-size: 24px;
    border: none;
    text-align: center;
    padding: 7px 10px;
    outline: none;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 5px #333; */
}
select#top-unit{
    color: #fff;
    /* border: 2px solid #fff; */
    background: #F24E4E;
}
select#bottom-unit{
    background: #fff;
    color: #F24E4E;
    /* border: 2px solid  #F24E4E; */
}
