*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.top, .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top{
    height: 50%;
    width: 100%;
    background-color: #F24E4E;
    color: #fff;
}
.bottom{
    height: 50%;
    width: 100%;
    background-color: white;
    color: #F24E4E;
}
 input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 44px;
    width: 70vw;
    text-align: center;
}
.top-input{
    color: #fff;
}
.bottom-input{
    color: #F24E4E;
}
.top-input::placeholder{
    color: #fff ;
} 
.bottom-input::placeholder{
    color: #F24E4E;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}